<main>
  <div class="container">
    <!-- Pastor Rogers -->
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5 text-center">
        <mdb-card>
          <mdb-card-img src="../../assets/pastor_rogers.JPEG" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Pastor Steve Rogers</h4>
            </mdb-card-title>
            <mdb-card-text>
              <h6>Born in Colorado, the son of a Baptist minister.</h6>
              <h6>Undergraduate Degree in Business from Bob Jones University (1978).</h6>
              <h6>Master's Degree of Ministry from Bob Jones University (2006).</h6>
              <h6>Previous Assistant Pastor of two different churches.</h6>
              <h6>Planted Faith Baptist Church in Sandwhich in 1998.</h6>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Faith Baptist Church -->
      <div class="col-12 col-sm-7 col-md-6 col-lg-5 col-xl-4 text-center">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Faith Baptist Church</h4>
            </mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item">
                <span>Independent Fundamental Baptist Church</span>
              </li>
              <li class="list-group-item">
                <span>FBC is a member of the Association of Independent Baptist Churches of Illinois (<a
                    href="http://www.aibci.org/" target="_blank">www.aibci.org</a>)</span>
              </li>
              <li class="list-group-item">
                <span>We believe that the King James Version is the best translation of the best text.</span>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Website Information -->
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Website</h4>
            </mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://github.com/xinthose/faithbaptistchurchleland" target="_blank">Github Repository</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/xinthose/personal_website/blob/master/CHANGELOG.md" target="_blank">Website Version:
                  {{websiteVersion}}</a>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</main>