<main>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
        <mdb-card>
          <mdb-card-img src="../../assets/pastor_rogers.JPEG" alt="Card image cap"></mdb-card-img>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Pastor Steve Rogers</h4>
            </mdb-card-title>
            <mdb-card-text>
              <h6>Born in Colorado.</h6>
              <h6>Went to Bob Jones University</h6>
              <h6>Has a Bachelors Degree in Accounting</h6>
              <h6>Has 6 children and 18 grand children</h6>
              <h6>Founded Faith Baptist Church in October, 1998.</h6>
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
      <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Website</h4>
            </mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item">
                <a href="https://github.com/xinthose/faithbaptistchurchleland">Github Repository</a>
              </li>
              <li class="list-group-item">
                <a href="https://github.com/xinthose/personal_website/blob/master/CHANGELOG.md">Website Version:
                  {{websiteVersion}}</a>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
  </div>
</main>