<main>
    <div class="container">
        <!-- Schedule and Contact -->
        <div class="row justify-content-center">
            <!-- Weekly Schedule -->
            <div class="col-12 col-sm-8 col-md-7 col-lg-6 col-xl-5">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title class="text-center">
                            <h4>Weekly Schedule</h4>
                        </mdb-card-title>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <h6>Sunday Morning Worship: 11:00 AM</h6>
                            </li>
                            <li class="list-group-item">
                                    <h6>Wednesday Prayer Meeting: 6:00 PM</h6>
                                </li>
                            <li class="list-group-item">
                                <h6>Bible Q&A Meeting: 6:00 PM last Sunday of every month</h6>
                            </li>
                        </ul>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <!-- Contact Information -->
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title class="text-center">
                            <h4>Contact Information</h4>
                        </mdb-card-title>
                        <mdb-card-text>
                            <span style="font-size: 14pt;">P.O. Box 619</span>
                            <br />
                            <span style="font-size: 14pt;">9931 Suydam Road</span>
                            <br />
                            <span style="font-size: 14pt;">Leland, IL 60531</span>
                            <br />
                            <a style="font-size: 14pt;" href="tel:+18154959592">815-495-9592</a>
                            <br />
                            <a style="font-size: 14pt;" href="mailto:srogers13@juno.com?Subject=Faith%20Baptist%20Church">srogers13@juno.com</a>
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <!-- Google Maps -->
        <div class="row justify-content-center mt-3">
            <div class="col">
                <div class="mapouter mx-auto">
                    <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                            src="https://maps.google.com/maps?q=faith%20baptist%20church%2C%20leland%2C%20IL&t=k&z=13&ie=UTF8&iwloc=&output=embed"
                            frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                            href="https://www.embedgooglemap.net/blog/elementor-pro-discount-code-review/">elementor
                            coupon</a></div>
                    <style>
                        .mapouter {
                            position: relative;
                            text-align: right;
                            height: 500px;
                            width: 600px;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 500px;
                            width: 600px;
                        }
                    </style>
                </div>
            </div>
        </div>
    </div>
</main>