<main class="text-center">
  <div class="container">
    <!-- Jumbotron -->
    <div class="row justify-content-center">
      <div class="col">
        <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
          <div class="text-white text-center py-5 px-4 my-5">
            <div>
              <h2 class="card-title h1-responsive pt-3 mb-5 font-weight-bold"><strong>Welcome to Faith
                  Baptist Church!</strong></h2>
              <p class="mx-5 mb-5" style="font-size: 14pt;">We encourage, teach, and strengthen fellow
                Christians in a balanced,
                biblical approach to ministry telling the good news of Christ's salvation to those who
                do
                not know.
              </p>
            </div>
          </div>
        </mdb-card>
      </div>
    </div>
    <!-- Cards -->
    <div class="row justify-content-center mt-3">
      <div class="col card-deck">
        <!-- Our Foundation -->
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Our Foundation</h4>
            </mdb-card-title>
            <mdb-card-text>
              We hold to the fundamentals of the faith based upon the always relevant, unchanging
              foundation of Biblical truth. God's Word holds a prominent place in our activities and
              services.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
        <!-- Our Motto -->
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Our Motto</h4>
            </mdb-card-title>
            <mdb-card-text>
              Faith Baptist Church is best summed up by our motto:
            </mdb-card-text>
            <ul class="list-group">
              <li class="list-group-item">
                <p class="font-weight-bold">To Know Christ and Make Him Known</p>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
        <!-- Our Desire -->
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Our Desire</h4>
            </mdb-card-title>
            <mdb-card-text>
              We want to be seen as a group of people who are continually striving
              to be like Jesus Christ in our personal lives, in our love for others,
              and in our church.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
        <!-- Our Invitation -->
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title>
              <h4>Our Invitation</h4>
            </mdb-card-title>
            <mdb-card-text>
              Whether you are looking for a church home, searching for
              answers, or just curious, know that you are welcome at our
              church where we will point you to Jesus Christ.
            </mdb-card-text>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <!-- What makes us Different?  Where will you spend eternity? -->
    <div class="row justify-content-center mt-3">
      <!-- What Makes Us Different? -->
      <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-4">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title class="text-center">
              <h4>What Makes Us Different?</h4>
            </mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item">
                <h6>We are conservative and traditional, yet fresh and alive.</h6>
              </li>
              <li class="list-group-item">
                <h6>We are burdened about having a genuine, thriving walk with God.</h6>
              </li>
              <li class="list-group-item">
                <h6>We are trying to educate and equip, not entertain in our services.</h6>
              </li>
              <li class="list-group-item">
                <h6>We are willing to take a stand against sin.</h6>
              </li>
              <li class="list-group-item">
                <h6>We desire to help build godly lives, families, and friendships.</h6>
              </li>
              <li class="list-group-item">
                <h6>We preach and apply the Bible in an accurate, practical way.</h6>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
      </div>
      <!-- Where will you spend eternity? -->
      <div class="col-12 col-sm-12 col-md-8 col-lg-7 col-xl-6">
        <mdb-card>
          <mdb-card-body>
            <mdb-card-title class="text-center">
              <h4>Where will you spend eternity?</h4>
            </mdb-card-title>
            <ul class="list-group">
              <li class="list-group-item">
                <h6>The Bible provides us with the assurance that we can be right with God and be with
                  Him forever. Consider Jesus' words to a religious man: "Except a man be born again,
                  he cannot see the kingdom of God" (John 3:3)
                </h6>
              </li>
              <li class="list-group-item">
                <h5 class="font-weight-bold">The Damage Done by Sin</h5>
                <h6>
                  We are all sinners because we have broken God's Law (James 2:10, 1 John 3:4). Our
                  sins have separated us from God, placing us under His righteous wrath and the
                  penalty of sin, which is eternal death and damnation.
                </h6>
              </li>
              <li class="list-group-item">
                <h5 class="font-weight-bold">The Helplessness of Man</h5>
                <h6>
                  No amount of good works (baptism, communion, etc.) could ever atone for our sin. We
                  are saved only by God's grace, through faith in His Son, Jesus Christ, who alone is
                  "the Way, the Truth, and the Life" (John 14:6).
                </h6>
              </li>
              <li class="list-group-item">
                <h5 class="font-weight-bold">The Good News from God</h5>
                <h6>
                  Christ died for our sins, was buried, and rose again! It is faith in the finished
                  work of Jesus that is the only basis for soul's salvation (John 1:12).
                </h6>
                <h6>
                  Upon what are you depending on this very moment to secure your eternity with God?
                  The Scripture says, "now is the day of salvation" (2 Corinthians 6:2). We urge you
                  to repent of your sin and false trust, turn to Jesus Christ and place your full
                  trust in Him today.
                </h6>
              </li>
            </ul>
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
    <!-- Carousel -->
    <div class="row justify-content-center mt-3 mb-5">
      <div class="col">
        <mdb-carousel #carousel [animation]="'slide'">
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/church_exterior_1.JPEG" alt="First slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/church_interior_1.JPEG" alt="Second slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/church_interior_2.JPEG" alt="Third slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/church_interior_3.JPEG" alt="Fourth slide">
          </mdb-carousel-item>
          <mdb-carousel-item>
            <img class="d-block w-100" src="../../assets/church_interior_4.JPEG" alt="Fourth slide">
          </mdb-carousel-item>
        </mdb-carousel>
      </div>
    </div>
  </div>
</main>
