<main class="text-center">
    <div class="container">
        <!-- Jumbotron -->
        <div class="row justify-content-center">
            <div class="col">
                <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient1.jpg')">
                    <div class="text-white text-center py-5 px-4 my-5">
                        <div>
                            <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Welcome to Faith
                                    Baptist Church!</strong></h2>
                            <p class="mx-5 mb-5" style="font-size: 14pt;">We encourage, teach, and strengthen fellow
                                Christians in a balanced,
                                biblical approach to ministry telling the good news of Christ's salvation to those who
                                do
                                not know.
                            </p>
                        </div>
                    </div>
                </mdb-card>
            </div>
        </div>
        <!-- Cards -->
        <div class="row justify-content-center mt-3 card-deck">
            <!-- Our Foundation -->
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Our Foundation</h4>
                        </mdb-card-title>
                        <mdb-card-text>
                            We hold to the fundamentals of the faith based upon the always relevant, unchanging
                            foundation of Biblical truth. God's Word holds a prominent place in our activities and
                            services.
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <!-- Our Motto -->
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Our Motto</h4>
                        </mdb-card-title>
                        <mdb-card-text>
                            Faith Baptist Church is best summed up by our motto:

                        </mdb-card-text>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <p class="font-weight-bold">To Know Christ and Make Him Known</p>
                            </li>
                        </ul>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <!-- Our Desire -->
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Our Desire</h4>
                        </mdb-card-title>
                        <mdb-card-text>
                            We want to be seen as a group of people who are continually striving
                            to be like Jesus Christ in our personal lives, in our love for others,
                            and in our church.
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
            <!-- Our Invitation -->
            <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 text-center">
                <mdb-card>
                    <mdb-card-body>
                        <mdb-card-title>
                            <h4>Our Invitation</h4>
                        </mdb-card-title>
                        <mdb-card-text>
                            Whether you are looking for a church home, searching for
                            answers, or just curious, know that you are welcome at our
                            church where we will point you to Jesus Christ.
                        </mdb-card-text>
                    </mdb-card-body>
                </mdb-card>
            </div>
        </div>
        <!-- Carousel -->
        <div class="row justify-content-center mt-3 mb-5">
            <div class="col">
                <mdb-carousel [animation]="'slide'">
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="../../assets/church_interior_1.JPEG" alt="First slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="../../assets/church_interior_2.JPEG" alt="Second slide">
                    </mdb-carousel-item>
                    <mdb-carousel-item>
                        <img class="d-block w-100" src="../../assets/church_interior_3.JPEG" alt="Third slide">
                    </mdb-carousel-item>
                </mdb-carousel>
            </div>
        </div>
    </div>
</main>